<!DOCTYPE html>
<html lang="en">
  <!-- Ethan Chen
       SoftDev pd2
       K25 -- Getting More REST
       2019-11-12
    -->
  <head>
      <meta charset="utf-8"/>
      <style>
      p {
        text-align:center;
      }
      </style>
      <title>{{title}}</title>
  </head>

  <body>
    <p>
        The data is taken from the MET API.<br>
        The image below is an object found in the Metropolitan Museum of Art.
    </p>
    <div>
      <img src={{pic}} style="display:block; margin-left:auto; margin-right:auto">
    </div>
    <div>
      <p>
          Title: {{title}} <br>
          Department: {{department}} <br>
          Medium: {{medium}} <br>
          Object Date: {{obj_date}} <br>
          Country: {{country}}
    </div>
  </body>

</html>
