<!DOCTYPE html>
<html>
  <head>
    <title>Quote of the Day API</title>
  </head>
  <body>
    <h1>Quote of the Day API</h1>
    <p>{{ quote }}</p>
    <p>{{ author }}</p>

    <span style="z-index:50;font-size:0.9em;"><img src="https://theysaidso.com/branding/theysaidso.png" height="20" width="20" alt="theysaidso.com"/><a href="https://theysaidso.com" title="Powered by quotes from theysaidso.com" style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">theysaidso.com</a></span>
  </body>
</html>
