<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Current US Senators</title>
  </head>
  <body>
    <h1>Current US Senators</h1>

    <h3>Search by Full Name</h3>
    <form action="/name">
      <input type="text" name="name" placeholder="First Last"><br>
      <input type="submit" value="Submit">
    </form>

    <h3>Search by Gender</h3>
    <form action="/gender">
      <input type="radio" name="gender" value="male">
      <label for="male">Male</label><br>
      <input type="radio" name="gender" value="female">
      <label for="female">Female</label><br>
      <input type="submit" value="Submit">
    </form>

    <h3>Search by Party</h3>
    <form action="/party">
      <input type="radio" name="party" value="Democratic">
      <label for="Democratic">Democratic</label><br>
      <input type="radio" name="party" value="Republican">
      <label for="Republican">Republican</label><br>
      <input type="radio" name="party" value="Independent">
      <label for="Independent">Independent</label><br>
      <input type="submit" value="Submit">
    </form>

    <h3>Search by Rank</h3>
    <form action="/rank">
      <input type="radio" name="rank" value="senior">
      <label for="senior">Senior</label><br>
      <input type="radio" name="rank" value="junior">
      <label for="junior">Junior</label><br>
      <input type="submit" value="Submit">
    </form>

    <h3>Search by Age</h3>
  </body>
</html>
